body {
    font-family: 'Arial', sans-serif;
    color: midnightblue;
    text-align: center;
    padding: 20px;
}

#status {
    margin-top: 20px;
    font-size: 1.2em;
}

.hidden {
    display: none;
}

#code {
    margin-top: 20px;
    font-size: 1.5em;
    color: #d23669;
}
/* CSS */
.button, button, a {
  background-color: whitesmoke;
  color: midnightblue;
  cursor: pointer;
  border: 2px solid midnightblue;
  border-radius: 20px;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 1.5em 2.2em;
  text-align: center;
  margin: 20px;
}

.button, button, a:hover {
  background-color: yellow;
}

.button, button, a:active {
  background-color: magenta;
}

